.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.footer p {
    text-align: center;
}
body {
    background-color: lightyellow;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center {
    text-align: right;
    vertical-align: bottom;
}

.bookInstance {
    table-layout: fixed;
}

.bookInstance tr td.nounderline:first-of-type {
    border-top: 0;
}

.bookInstance tr th.nounderline:first-of-type {
    border-bottom: 0;
    width: 5%;
}

.bookInstance tr th:nth-last-of-type(1){
    width: 10%;
}

.bookInstance tr th:nth-last-of-type(2) {
    width: 25%;
}

.bookInstance tr th:nth-last-of-type(3) {
    width: 12%;
}

.bookInstance tr th:nth-last-of-type(4) {
    width: 38%;
}

.bookInstance tr td {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.bookInstance tr th:nth-last-of-type(5) {
    width: 5%;
}

.glyphic form {
    display: inline;
}

.glyphicon.glyphicon-user {
    font-size: 10em;
}

.caption h4 {
    text-align: center;
}

.thumbnail {
    text-align: center;
}

.test {
    border-style: dashed;
    border-width: 2px;
}

.bookDetail td {
    padding: 0.5em;
}

td.BORROWED {
    color: red;
}

td.AVAILABLE {
    color: green;
}

td.REMOVED {
    color: grey;
}
